{
    "presets" : [     // collection of code transform plugins(which are code which apply actual transformation to our code) 
        ["env", {
            "targets" : {
                "browsers" : [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}